@inherits CustomersComponent

@foreach (var customer in Customers)
 {                  
     <div class="col-md-3 mb-2">        
       <CustomerItem Customer="@customer"></CustomerItem>
     </div>      
 }
